name: .NET build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.GH_PAT }}
        submodules: recursive

    - name: Setup dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: | 
          8.0.x
    
    - name: Build
      run: ./build.bat
        
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build
        path: Assets/
        if-no-files-found: error
